custom/*

.DS_Store
*.pyc
*~
*.sw?

plugins/ta/data/*

.cfcli.yml
.config/mps-youtube/playlist_v2
.config/omf/clorox.load
.composer/
.gist-vim
.local/
.netrc
.pgpass
.pgpass
.ssh/
.subversion/
!.subversion/config
.vim/
.vimperator
.wp-cli/
.youtube-dl-history
Library/*
!Scripts/
.todo
