!.subversion/config
!.task/hooks
!.timewarrior/timewarrior.cfg
!/Library/Application\ Support
!Library/Application\ Support/Sublime\ Text\ 3
!Library/Scripts
*.pyc
*.sw?
*~
.DS_Store
.Xmodmap.orig
.bro
.cfcli.yml
.composer/
.config/enchant/
.config/fish/completions/cani.fish
.config/fish/functions/clorox*
.config/fish/functions/electro*
.config/monitors.xml
.config/mps-youtube/playlist_v2
.config/nvim/.netrwhist
.config/omf/channel
.config/ranger/history
.config/rtv.cfg
.dconf/
.devtoolssnippets
.gem/credentials
.gist-vim
.gnupg/
.local/
.mkdev/
.netrc
.newsboat/urls
.npmrc
.pgpass
.pgpass
.ssh/
.subversion/
.task/*
.taskrc
.timewarrior/*
.tmuxinator/clorox*
.todo
.vim/bundle
.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add.spl
.vim/undodir
.vim/user/abbreviations.vim
.vimperator
.wp-cli/
.youtube-dl-history
Chrome Local Overrides/
Icon?
Library/*
Library/Application Support/Sublime Text 3/Packages/User/Package Control.cache*
Library/Application Support/Sublime Text 3/Packages/User/Package Control.last-run
Library/Application\ Support/*
Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Gist.sublime-settings
custom/*
plugins/ta/data/*
wallpapers/
