custom/*

.DS_Store
*.pyc
*~
*.sw?

plugins/ta/data/*

.cfcli.yml
.config/mps-youtube/playlist_v2
.config/omf/clorox.load
.composer/
.gist-vim
.local/
.netrc
.pgpass
.pgpass
.ssh/
.subversion/
!.subversion/config
.todo
.vim/
.vimperator
.wp-cli/
.youtube-dl-history
Library/*
!Library/Scripts
!/Library/Application\ Support
Library/Application\ Support/*
!Library/Application\ Support/Sublime\ Text\ 3
Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Gist.sublime-settings
Library/Application Support/Sublime Text 3/Packages/User/Package Control.cache*
Library/Application Support/Sublime Text 3/Packages/User/Package Control.last-run
